* {
  margin: 2px;
  padding: 5px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 1px;
    padding: 20px 20px 20px 20px;
    height: 100vh; 
}

.top-left-side {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background-color: aquamarine;
}

.top-left-side > .top-text {
    align-content: start;
}

.top-right-side {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: cornflowerblue;
    padding: 10px;
}

#new-book {
    align-content: start;
    height: 40px;
    width: 100px;
}

/* Hidden form */
.hidden {
  display: none;
}

#book-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 250px;
    gap: 10px;
}

#book-form label {
  font-weight: bold;
}

#book-form input {
  padding: 5px;
}

.bottom-left-side {
    display: grid;
    background-color: brown;
    grid-column: 1 / 2;
    grid-row: 2 / 4;
}

.bottom-right-side {
    display: grid;
    background-color: hotpink;
    grid-column: 2 / 3;
    grid-row: 2 / 4;
}

.bottom-right-side > #book-table {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}
