* {
  margin: 5px;
  padding: 5px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    padding: 20px 20px 20px 20px;
    height: 90vh; 
}

.left-side {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: aquamarine;
}

.left-side > .top-text {
    align-content: start;
}

#new-book {
    align-content: start;
    height: 40px;
    width: 100px;
}

.right-side {
    display: grid;
    background-color: hotpink;
    grid-row: 1 / 3;
}

.right-side > #book-table {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}
