* {
  margin: 1px;
  padding: 5px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(4, 1fr);
    padding: 20px 20px 20px 20px;
    height: 100vh; 
    gap: 0px;
}

.top-left-side {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background-color: aquamarine;
}

.top-left-side > .top-text {
    align-content: start;
}

.top-right-side {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-items: start;
  align-items: center;
  background-color: cornflowerblue;
  padding: 10px;
  gap: 20px;
}

.top-right-side-row {
  display: grid;
  grid-template-columns: auto auto; 
  align-items: start;
  gap: 20px;
}

#new-book {
  cursor: pointer;
  background-color: white;
  border: 1px solid #666;
  border-radius: 4px;
  font-weight: bold;
  height: 40px;
  width: 100px;
}

/* Hidden form */
.hidden {
  display: none !important;
}

#book-form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  width: 500px;
}

#book-form label {
  font-weight: bold;
}

#book-form input {
  padding: 5px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

#add-book {
  background-color: cornflowerblue;
  color: white;
  border: none;
  border-radius: 4px;
  height: 35px;
  cursor: pointer;
}

#add-book:hover {
  background-color: royalblue;
}

.bottom-left-side {
    display: grid;
    background-color: aquamarine;
    grid-column: 1 / 2;
    grid-row: 2 / 4;
}

.bottom-right-side {
    display: grid;
    background-color: cornflowerblue;
    grid-column: 2 / 3;
    grid-row: 2 / 4;
}

.bottom-right-side > #book-table {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}
